__pycache__/
RESTBL/__pycache__/
Mods/110/Wolf Link/
Mods/110/Master Mode Spicy Ending/
Stats/
asb/
asb_backup/
Mods/110/Master Mode Punitive Death/
Mods/110/Master Mode Gameplay changes/
rules.md
create_modifier_yaml.py
modifier_data.json
modifier.yml